{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br>

<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">Your Cart</span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="header-cart-content flex-w js-pscroll">
            <ul class="header-cart-wrapitem w-full">
                {% if cart_items %}
                    {% for item in cart_items %}
                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="{{ item.product.image.url }}" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="{{ item.product.get_url} }"
                               class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                {{ item.product.product_name }}
                            </a>

                            <span class="header-cart-item-info">
                                {{ item.quantity }} x &#8360; {{ item.product.price }}
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <span class="stext-102 cl6">Your cart is empty.</span>
                    </li>
                {% endif %}
            </ul>

            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    Total: &#8360; {{ cart_total|default:0 }}
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a href="{% url 'cart_detail' %}"
                       class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>

                    <a href="{% url 'checkout' %}"
                       class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Check Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'home' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10"></i>
        </a>

        <a href="{{ single_item.category.get_links }}" class="stext-109 cl8 hov-cl1 trans-04">
            {{ single_item.category }}
            <i class="fa fa-angle-right m-l-9 m-r-10"></i>
        </a>

        <span class="stext-109 cl4">{{ single_item.product_name }}</span>
    </div>
</div>

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">

            <!-- Product Image -->
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="{{ single_item.image.url }}">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{ single_item.image.url }}" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                       href="{{ single_item.image.url }}">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Product Info -->
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">

                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        {{ single_item.product_name }}
                    </h4>

                    <span class="mtext-106 cl2">
                        &#8360; {{ single_item.price }}
                    </span>

                    <p class="stext-102 cl3 p-t-23">
                        {{ single_item.description }}
                    </p>

                    <!-- ✅ Add/View Cart Button -->
                    <div class="p-t-33">

                        {% if single_item.stock <= 0 %}
                            <h5 class="text-danger">Out of Stock</h5>

                        {% else %}
                            {% if in_cart %}
                                <a href="{% url 'cart_detail' %}"
                                   class="flex-c-m stext-101 cl0 size-101 bg3 bor1 hov-btn3 p-lr-15 trans-04">
                                    View Cart
                                </a>
                            {% else %}
                                <a href="{% url 'add_to_cart' single_item.id %}"
                                   class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                    Add to Cart
                                </a>
                            {% endif %}
                        {% endif %}

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}